{% extends 'base.html' %}
{% load static %}
<body>
    {% block content %}
    <div class="main">
        <div class="card shadow col-md-5 my-4 mx-auto pb-4">
                    
            <h2 class="form-title text-info my-4 mx-auto">Forgot Password?</h2>
            <form method="POST" action="/forgot_password_student" class="register-form" id="login-form">
                {% csrf_token %}
                {% if msg %}
                           
                    <label for="email" class="text-danger mx-5">{{msg}}</label>
                           
                {% endif %}
                <div class="form-group mx-5">
                            
                    <label for="email" class="text-info">Email</label>
                    <input type="email" class="form-control border-info col-md-12" name="forget_email" id="forget_email" placeholder="Enter registered email" required/>
                    
                </div>
                <div class="form-group form-button mx-5">
                    <input type="submit" name="submit_email" id="submit_email" class="btn btn-info" value="Submit"/>
                </div>
            </form>

        </div>
    </div>
    {% endblock %}

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>